
.logo{
    background: linear-gradient(to right, #004167, #0097d7);
    opacity: 0.9;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo img{
        width: 300px;
}